<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Configurar Impresoras</title>
    <link rel="stylesheet" href="../css/printers.css">
<body>
    <div class="content">
        <div class="row justify-content-center pb-2">
                <div class="content_text">
                    Seleccione su impresora y pinche en guardar
                </div>
        </div>
        <hr>
        <div class="row justify-content-center pb-2">
            <div id="conte_sel_tickets"></div>
            <div class="conte_btn">
                <button class="btn btn-primary" id="save_ticket">Guardar Impresora</button>
            </div>
        </div>
        <hr>
        <div class="row justify-content-center pb-2">
            <div id="conte_sel_pegatinas"></div>
            <div class="conte_btn">
                <button class="btn btn-primary" id="save_pegatina">Guardar Impresora</button>
            </div>
        </div>
    </div>
    <hr>
    <script src="../js/printers.js"></script>
</body>
</html>