<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Actualizar la aplicacion</title>
</head>
<body>
    <h3>Configurar descarga de aplicacion</h3>
    <div id="msg"></div>
    <div class="content_btn">
        <button id="download" class="btn btn-primary">Descargar app</button>
    </div>
    <script src="../js/updateApp.js"></script>
</body>
</html>